body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding-left: 4px;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
}

button {
  background: white;
  border: 1px solid #eee;
}

.card {
  padding: 16px;
}

.content {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;

}
.button-container{
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 12px;
}

.button-container {
  text-align: center;
  white-space: initial;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}